/*
* Fusion Layout Modifiers
*/
.difFullHeight,
.difFirstFullHeight {
	display: flex;
	align-items: stretch;
}

.difPositionBottomLeftOnChildren {
	position: relative;
	display: flex;
	align-items: flex-end;
}

.difFullHeightColumns .fusion-builder-row.fusion-row,
.difFullHeightColumns > .fusion-builder-row.fusion-row > .fusion-layout-column {
	display: flex;
	align-items: stretch;
}
.difFullHeightColumns.difAlignColumnContentBottom > .fusion-builder-row.fusion-row > .fusion-layout-column > .fusion-column-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.difFullHeightHalfColumns,
.difFullHeightHalfColumns .fusion-builder-row.fusion-row,
.difFullHeightHalfColumns .fusion-layout-column.fusion-one-half {
	display: flex;
	align-items: stretch;
}
.difFullHeightHalfColumns > .fusion-builder-row.fusion-row > .fusion-layout-column.fusion-one-half {
	width: 50% !important;
	margin: 0 !important;
}
.difFullHeightHalfColumns > .fusion-builder-row.fusion-row > .fusion-layout-column.fusion-one-half .fusion-column-wrapper {
	width: 100%;
}

.difAlignSelfCenter {
	align-self: center;
}
.difJustifyEnd  > .fusion-column-wrapper {
	display: flex;
	justify-content: flex-end;
}
.difAlignEnd > .fusion-column-wrapper {
	display: flex;
	align-items: flex-end;
}
.butter{}