/*
* Header and Nav
*/
.fusion-main-menu,
.fusion-is-sticky .fusion-main-menu {
    position: absolute !important;
    right: 0 !important;
    bottom: 50% !important;
    transform: translate3D( 0, 50%, 0 ) !important;
	float: unset !important;
	overflow: visible !important;
}
.fusion-main-menu > ul > li > a {
    height: 42px !important;
    line-height: 42px !important;
	border-top: none !important;
	border-bottom: 3px solid transparent;
}

/*
*  Reset theme styles on book now button
*/
.fusion-main-menu > ul > .menu-item-bookNow > a {
	color: initial;
	border: none !important;
	height: unset !important;
	line-height: initial !important;
	backface-visibility: hidden;
}
.fusion-main-menu > ul > .menu-item-bookNow > a:hover {
	color: initial !important;
}
.fusion-is-sticky .fusion-main-menu > ul > .menu-item-bookNow > a {
	color: initial !important;
}