/*
* Home: Landing
*/
.difHomeLandingHeading {
	position: relative;
	display: block;
}
.difHomeLandingHeading div {
	position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding-right: 1.25rem;
    font-family: 'Lato' !important;
    font-size: 3.65rem;
    text-align: right !important;
    font-style: normal;
    line-height: 2;
    color: #bea048;
}
.difHomeLandingHeading p {
	font-size: 10rem !important;
	color: white !important;
	text-shadow: 2px 2px 1px #ad821b;
	text-align: right;
}