/*
* proms and special occasions
*/
.difBlueLeftToViewportEdge {
	position: relative;
	overflow: visible;
}
.difBlueLeftToViewportEdge:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	right: 100%;
	bottom: 0;
	left: -200%;
	background-color: hsla(223,49%,26%,0.77);
}