/*
* Theme Components
*/
.difThemeButton {
	position: relative !important;
	display: inline-block !important;
	margin: 0 0 1rem 0 !important;
	border-radius: 100px !important;
	padding: 0.33rem 1.5rem !important;
	background: linear-gradient( 160deg, #fdd962 0%, #ccab2f 100% ) !important;
	box-shadow: 0 3px 2px -1px hsla( 240, 0%, 0%, 0.4 ) !important;
	font-size: 1.33rem !important;
	line-height: 1 !important;
	text-transform: uppercase !important;
	transform: translate3d( 0, 0, 0) !important;
	transition: all 150ms ease-out !important;
}
.difThemeButton:before {
	content: "";
	position: absolute !important;
	display: block !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	border-radius: 100px !important;
	background: linear-gradient( 90deg, #fdd962 0%, #ccab2f 100% ) !important;
	opacity: 0 !important;
	z-index: -1 !important;
	transition: all 150ms ease-out !important;
}
.difThemeButton:hover {
	transform: translate3d( 0, -2px, 0) !important;
	box-shadow: 0 5px 6px -3px hsla( 240, 0%, 0%, 0.4 ) !important;
}
.difThemeButton:hover:before {
	opacity: 1 !important;
}
.difThemeButton:active {
	transform: translate3d( 0, -1px, 0) !important;
	box-shadow: 0 4px 5px -3px hsla( 240, 0%, 0%, 0.4 ) !important;
}
	
.difPinkText {
	color: #fec4c3;
}
.difGoldText {
	color: #bea048;
}